#main404 {
  .error404 {
    width: 100%;
    margin-left: 25%;
    margin-top: 4%;
    margin-right: 25%;
      
    @mixin pcmed {
     margin-left: 20%;   
    }
      
    @mixin pc {
     margin-left: 15%;   
    }
    
    @mixin phone {
      display: block;
    }
      
    .img404 {
      width: 20%;
        
      .img_404 {
        height: 20%;
          
        @mixin phone {
          width: 100%;
          margin-left: 120%;
        }
      }
        
      @mixin pcmed {
        margin-right: 5%;
      }

      @mixin tablet {
        margin-right: 10%;
      }
    }

    .tekst404 {
      width: 30%;
      margin-right: 50%;
        
      @mixin pcmed {
        width: 35%;
        margin-right: 45%;
      }
        
      @mixin pc {
        width: 45%;
        margin-right: 35%;
      }
        
      @mixin tablet {
        width: 55%;
        margin-right: 25%;
      }
        
      @mixin phone {
        width: 70%;
        text-align: center;
      }
    }
  }
  
}





/*
.intro404{
  width: 70%;
  margin: 100px auto 0px auto;
  text-align:justify;
}

.content404{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.img_404{
  width: 20%;
  height: 20%;
}

.introContent_404{
  width: 80%;
  padding: 0 5%;
}

@mixin pcXL{
  .intro404{
    width: 85%;
  }
}

@mixin pcmed{

  .img_404{
    width: 30%;
    height: 30%;

  }

  .introContent_404{
    width: 70%;
  }
}

@mixin tablet{
  .introContent_404{
    width: 100%
  }

  .img_404{
    width: 40%;
    height: 40%;
    margin: 0 auto;
  }

  .intro404{
    margin: 50px auto 0px auto;
    text-align:justify;
  }
}
*/