#mainArchive {
  width: 85%;

  > div {
    &[role="machines"],
    &[role="workshops"],
    &[role="news"],
    &[role="reservations"] {
      flex-wrap: wrap;
    }

    &[role="reservations"] {
      justify-content: space-between;
    }

    .toestel,
    .workshop,
    .nieuwsartikel,
    .reservation {
      width: 48%;
      margin-bottom: 3%;
    }

    .reservation {
      box-sizing: border-box;
    }

    .toestel,
    .workshop,
    .nieuwsartikel {
      .img-thumb {
        height: 250px;
        margin-right: 2%;
        width: 40%;

        .thumbnail {
          &,
          > img {
            width: 100%;
            height: 100%;
          }

          > img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
          }
        }

        @mixin pcXL {
          height: 100%;
        }

        @mixin phone {
          margin-right: 0;
          margin-bottom: 2%;
          min-height: 450px;
          width: 100%;
        }

        @mixin phone-small {
          min-height: 250px;
        }
      }

      .content {
        width: 50%;
        position: relative;

        .title {
          justify-content: space-between;

          .date {
            align-self: flex-start;
            background-color: $main_accent;
            box-sizing: border-box;
            color: white;
            font-size: 0.6em;
            padding: 2px 5px 1px 5px;
          }
        }

        .excerpt {
          line-height: 1.5;
          text-align: justify;

          @mixin phone {
            min-height: 80px;
          }
        }

        > h2 {
          margin-top: 0;

          @mixin phone {
            margin-top: 10px;
          }
        }

        .buttons {
          @mixin pcXL {
            position: absolute;
          }

          @mixin tablet {
            flex-wrap: wrap;
          }

          @mixin phone {
            position: static;
          }
        }

        @mixin phone {
          width: 100%;
        }
      }

      @mixin pcXL {
        margin-bottom: 5%;
        min-height: 350px;
        width: 100%;
      }

      @mixin phone {
        flex-direction: column;
        margin-bottom: 10%;
      }
    }

    .nieuwsartikel {
      .buttons > a {
        width: 100%;
      }
    }

    .reservation {
      border: 2px solid $grey;

      padding-left: 10px;

      &-type {
        background-color: $main_accent;
        color: $wit;
        font-size: 18px;
        font-weight: normal;
        padding: $small;
        text-transform: uppercase;
        margin-left: 10px;
      }

      @mixin tablet {
        width: 100%;
      }

      @mixin phone {
        padding: 5px;
      }
    }
  }
}
