/* example module */
/*
  define a button class with some subclasses:

  .btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;

    &-small {
      font-size: 12px;
      padding: 3px;
    }

    &-big {
      @mixin pc {
        font-size: 15px;
      }

      @mixin phone {
        font-size: 20px;
      }

      padding: 5px;

      &:hover {
        some stuff to do when hovering
      }
    }
  }
*/

.buttons {
  &,
  &-frontpage {
    position: absolute;
    bottom: 0;
  }

  & {
    @mixin pcXL {
      position: static;
    }

    @mixin tablet {
      position: absolute;
    }

    @mixin phone {
      position: static;
    }
  }

  &-frontpage {
    @mixin tablet {
      position: static;
    }
  }
}

.btn {
  display: inline-block;
  margin-right: 2%;
  width: 50%;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  height: 20px;

  &-dark {
    background-color: $zwartKdg;
    color: $wit;
  }

  &:hover {
    color: $main_accent;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(2) {
    @mixin tablet {
      margin-top: 2%;
    }
  }

  @mixin tablet {
    margin-right: 0;
    width: 100%;
  }

  &-submit {
    background-color: $main_accent;
    color: $wit;
    cursor: pointer;
    border: none;
    display: block;
    padding: 14px 20px;
    width: 100%;

    &:hover {
      color: $zwartKdg;
    }
  }
}

@mixin pcXL {
  .morenewsBtn {
    width: 100%;
  }
}
