/* example module */
/*
  define a button class with some subclasses:

  .btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;

    &-small {
      font-size: 12px;
      padding: 3px;
    }

    &-big {
      @mixin pc {
        font-size: 15px;
      }

      @mixin phone {
        font-size: 20px;
      }

      padding: 5px;

      &:hover {
        some stuff to do when hovering
      }
    }
  }
*/

.btn {
  &-submit {
    background-color: $main_accent;
    color: #fff;
    cursor: pointer;

    border: none;
    display: block;

    padding: 14px 20px;
    width: 100%;

    &:hover {
      color: #1d1d1b;
    }
  }
}
