 #contactMain {
     width: 70%;
 }

.contactGegevens {
  display: flex;
  margin-bottom: 50px;
}

.contactForm {
  margin-left: 145px;
  width: 350px;

  form {
    height: 100%;
    position: relative;
  }
}

.profile-picture {
  width: 250px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

iframe {
    width: 100%;
    height: 440px;
}

/* modal messages */
.contact {
  &-success {
    border: 1px solid green;
    color: green;
  }

  &-error {
    border: 1px solid red;
    color: red;
  }
}

@mixin tablet {
    #contactMain {
        width: 90%;
        margin-left: 5%;
    }

    .contactGegevens {
        flex-wrap: wrap;
        width: 100%;
    }

    .profile-picture {
        padding: 0;
        margin: 0;
        width: 40%;
    }

    .contactForm {
        padding: 0;
        margin: 0;
        width: 60%;
    }

    iframe {
        padding: 0;
        margin: 0;
        width: 60%;
    }

    .extraMargin {
        margin-bottom: 80px;
    }
}

@mixin phone {
    .profile-picture {
        padding: 0;
        margin: 0;
        width: 50%;
        margin-left: 25%;
    }

    .contactForm {
        padding-top: 35px;
    }

    .contactForm {
        padding: 0;
        margin: 0;
        width: 60%;
    }
}
