 #contactMain {
     width: 85%;
 }

.contactGegevens {
  display: flex;
  margin-bottom: 50px;
}

.contactForm {
  margin-left: 145px;
  width: 100%;

  form {
    height: 100%;
    position: relative;
  }
}

.profile-picture {
  width: 30%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

iframe {
    width: 100%;
    height: 440px;
}

/* modal messages */
.contact {
  &-success {
    border: 2px solid green;
    color: $groen;
      margin-bottom: 25px;
      padding-left: 15px;
      background: rgba(76, 175, 80, 0.3);
  }

  &-error {
    border: 2px solid darkred;
    color: $donkerrood;
      margin-bottom: 25px;
      padding-left: 15px;
      background: rgba(255, 0, 0, 0.3);
  }
}

@mixin tablet {
    #contactMain {
        width: 100%;
        margin-left: 5%;
    }

    .contactGegevens {
        flex-wrap: wrap;
        width: 100%;
    }

    .profile-picture {
        padding: 0;
        margin: 0;
        width: 30%;
    }

    .contactForm {
        padding: 0;
        margin: 0;
        width: 70%;
        margin-left: 25px;
    }

    iframe {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .extraMargin {
        margin-bottom: 80px;
    }
}

@mixin phone {
    .profile-picture {
        padding: 0;
        margin: 0;
        width: 60%;
        margin-left: 20%;
    }

    .contactForm {
        padding-top: 35px;
    }

    .contactForm {
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 25px;
    }

    iframe {
        width: 100%;
    }
}
