.breadcrumbs{
  width: 100%;
  margin:50px 0;
  cursor: pointer;
}

.breadcrumbs>a{
  text-decoration: none;
  color: black;
}

.contentDetailNews{
  display: flex;
  width: 100%;
}

.contentDetailNews>.thumbnail{
  width: 48%;
  height: auto;
  max-height: 500px;
  margin-right: 2%;
}

.opdeling>.title>h1{
  margin-top:0;}

.contentDetailNews>.opdeling{
  width: 50%;
  position: relative;
}

.opdeling>.detailBtn{
  position: absolute;
  bottom: 0;
}

.opdeling>.content{
  margin-bottom: 70px;
}
.opdeling>.detailBtn>.btn{
  width: 100%;
}

.opdeling>.title{
  overflow:visible;
  white-space: normal;
}

@mixin pcXXL{
  .detailnews{
    width: 80%;
  }
}

@mixin pcXL{
  .opdeling>.detailBtn>.btn{
    width: 100%;
  }

  .opdeling>.detailBtn>.btn:nth-of-type(even){
    margin-left: 0%;
  }

  .contentDetailNews>.thumbnail {
    max-height: 500px;
    margin-right: 2%;
    height: auto;
    width: 48%;
    overflow:hidden;
  }

  .opdeling>.content{
    margin: 0px 0 70px 0;
  }
  .opdeling>.title{
    margin:0;
    padding: 0;
  }
  .opdeling>.title>h1{
    margin:0;
  }
  .opdeling>.title>p{
  margin:0;
  padding: 0;
  }
}

@mixin pcmed{
  .contentDetailNews{
    flex-wrap: wrap;
  }

  .detailnews{
    width: 60%;
  }
  .contentDetailNews>.opdeling{
    width: 100%;
  }

  .contentDetailNews>.thumbnail{
    width: 100%;
    margin: 0 0 30px 0;
  }

  .opdeling>.title{
    margin:10px 0;
  }

  .opdeling>.title>p{
  margin:10px 0;

  }
}

@mixin tablet{
  .detailnews{
    width: 80%;
  }
}
