.editBtn {
  font-size: 16px;
  width: 50%;
  @mixin tablet{
    width: 100%;
  }
}

#editBtn{
  justify-content: flex-end;
  margin-top: 20px;
}

#pijl{
  width: 30px;
  height: 30px;
}

#pijllink{
  align-self:flex-end;
  margin-bottom: 18px;
  margin-right: 18px;

  &:hover{
      animation: pijlhover 1s infinite;
  }
}

@keyframes pijlhover {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
}

#profile-meta-data {

  margin-top: 30px;
}

@mixin tablet {
  #profile-meta-data {
    width: 100%;
      .disp-f {
        flex-direction: column;
      }

      .col-1-of-2 {
        width: 100%;

          .mr-med {
            margin-right: 0;
          }
      }
  }

}

@mixin phone {
  .editBtn {
    width: 100%;
    margin-left: 0;
  }
}
