.editBtn {
  font-size: 16px;
  width: 50%;
  margin-left: 25%;
}

#profile-meta-data {
  width: 70%;
  margin-top: 30px;
}

@mixin tablet {
  #profile-meta-data {
    width: 100%;
      
      .disp-f {
    flex-direction: column; 
  }
      
      .col-1-of-2 {
        width: 100%;
          
          .mr-med {
            margin-right: 0;
          }
      }
  }

  

  
}

@mixin phone {
  .editBtn {
    width: 100%;
    margin-left: 0;
  }
}
