html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    margin: 0;
    padding: 0;
}

footer{
  width: 100%;
  min-height: 50px;
  background-color: $zwartKdg;
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: $wit;
  padding: 2% 10%;
  box-sizing: border-box;
  flex-wrap: wrap;

  @mixin tablet{
    padding: 2% 4%;
  }

  @mixin phone{
    padding: 2% 4% 10% 4%;
  }
}
footer>#adres{
  width: 33%;
  @mixin pcXXL{
    width: 25%;
  }
  @mixin phone{
    width: 100%;
  }
}

footer>#adres .adrestext{
  line-height: 1.5;
  >h1, p{
    margin: 0;
    padding: 0;
  }
}

footer>#adres h1{
  font-size: 1em;
}

footer>#adres p{
  font-size: 1em;
}

footer>.openingsuren{
  width: 34%;
  justify-content: center;
  @mixin pcXXL{
    width: 50%;
  }

  @mixin phone{
    width: 100%;
  }
    .opening{
      width: 50%;
      line-height: 1.5;

      @mixin pcbig{
        width: 65%;
      }

      @mixin pcmed{
        width: 80%;
      }

      @mixin tablet{
        width: 60%;
      }

      @mixin phone{
        width: 100%;
      }

      ul{
        list-style-type: none;
        padding: 0;

        li{
          display: flex;
          justify-content: space-between;

        }
      }
    }
}

footer>#socials{
  height: 100px;
  width: 33%;
  justify-content: flex-end;
  @mixin pcXXL{
    width: 25%;
  }
  @mixin phone{
    width: 100%;
    justify-content: flex-start;
  }
}

footer>#socials a img{
  height: 30px;
  padding: 10px;
}

footer>#socials a{
  text-decoration: none;
}
