html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    margin: 0;
    padding: 0;
}

footer{
  width: 100%;
  min-height: 50px;
  background-color: $zwartKdg;
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: white;
}
footer>#adres{
  margin: 20px 150px;
  line-height: 5px;
}

footer>#adres>h1{
  font-size: 1em;
}

footer>#adres>p{
  font-size: 1em;
}

footer>#socials{
  margin: 20px 150px;
  height: 100;
  display: flex;
  align-items: flex-end;
}

footer>#socials>a>img{
  height: 30px;
  padding: 10px;
}

footer>#socials>a{
  text-decoration: none;
}

@mixin tablet {
  footer>#socials{
    margin: 5%;
  }
  footer>#adres{
    margin: 5%;
  }
}
