#frontpageImg{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}



.thumbnail>img{
  width: 100%;
  height: auto;
}

h1{
  font-family: 'KdG';
  font-size: 35px;
}

.introbtn{
  width: 200px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 25px;
  position:absolute;
  text-align: center;
  top:25%;
  left:45%;
  right:0;
  z-index: 2;
}

.btn{
  width: 200px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 1.1px;
  font-size: 20px;
}

.btnCont{

}

.excerpt{
  height: 70%;
}

#mainFrontpage{
  display: flex;
  padding-top: 0;
  margin-top: -70px;
  width: 100%;
}

section{
  margin: 5%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
section>h1{
  width: 100%;
}

.machine-item{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.thumbnail{
  background-color: pink;
}

.thumbnail{
  width: 50%;
}

.infocontainer{
  margin-left:  3%;
  width: 47%;
}

.infocontainer>.title{
  margin: 0;
}



@mixin pcXXL{
  .btnCont{
    margin-top: 0%;
  }

  .thumbnail{
    width: 40%;
  }

  .infocontainer{
    width: 57%;
  }

  .introbtn{
    top:20%;
  }
}

@mixin pcXL{

  .introbtn{
    top:18%;
  }

  .btnCont{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .btn{
    width: 100%;
    text-align: center;
    margin: 1%;
  }

  .thumbnail{
    width: 50%;
  }

  .infocontainer{
    width: 47%;
  }

  .excerpt{
    height: 60%;
  }
}

@mixin pcbig{
  #mainFrontpage{
    background-color: pink;
  }
}

@mixin tablet{
  #mainFrontpage{
    width: 100%;
    margin: 0;
    padding: 90px 0 200px 0;
  }
}

@mixin phone{
  body{
    background-color: green;
  }
  #mainFrontpage{
    width: 100%;
    margin: 0;
    padding: 90px 0 200px 0;
  }
}
