#frontpageImg{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}



.thumbnail>img{
  width: 100%;
  height: auto;
}

h1{
  font-family: 'KdG';
  font-size: 35px;
}

.btn{
  width: 200px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 25px;
  position:absolute;
  text-align: center;
  top:350px;
  left:45%;
  right:0;
  z-index: 2;
}

#mainFrontpage{
  display: flex;
  padding-top: 0;
  width: 100%;
}

section{
  margin: 5%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
section>h1{
  width: 100%;
}

.machine-item{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.machine-item>h2, .machine-item>p{
  width: 50%;
}

.machine-item>.thumbnail{
  width: 50%;
}
@mixin phone{
  body{
    background-color: green;
  }
  #mainFrontpage{
    width: 100%;
    margin: 0;
    padding: 90px 0 200px 0;
  }
}

@mixin tablet{
  #mainFrontpage{
    width: 100%;
    margin: 0;
    padding: 90px 0 200px 0;
  }
}
