#mainFrontpage {
  width: 85%;
  margin: 0 auto;
  padding-top: 0;

  section {
    width: 50%;

    &[role="news"] {
      margin-right: 2%;

      @mixin tablet {
        margin-right: 0;
      }
    }

    article {
      min-height: 350px;

      @mixin pcXXL {
        min-height: 250px;
      }

      @mixin pcXL {
        flex-wrap: wrap;
      }
    }

    @mixin tablet {
      width: 100%;
    }
  }

  .img-thumb {
    margin-right: 25px;
    width: 42%;

    .thumbnail {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    @mixin pcXL {
      margin-right: 0;

      width: 100%;
      height: 350px;
    }

    @mixin phone-small {
      height: 250px;
    }
  }

  .content {
    width: 50%;

    &,
    .title {
      position: relative;
    }

    .title {
      margin-top: 0;

      .date {
        background-color: $main_accent;
        bottom: 4px;
        box-sizing: border-box;
        color: white;
        font-size: 0.6em;
        padding: 2px 5px 1px 5px;
        position: absolute;
        right: 0;
      }
    }

    .excerpt {
      line-height: 1.5;
      text-align: justify;

      @mixin pcXL {
        min-height: 80px;
      }

      @mixin tablet {
        min-height: 100px;
      }
    }

    .buttons {
      > a {
        padding: 15px 0;
      }

      @mixin tablet {
        flex-wrap: wrap;
        position: static;
      }
    }

    @mixin pcXXL {
      width: 50%;
    }

    @mixin pcXL {
      margin-top: $lg;
      width: 100%;
    }
  }

  @mixin tablet {
    flex-wrap: wrap;
  }

  @mixin phone-small {
    padding-top: 50px;
  }
}

.CTA {
  position: relative;
  background-color: $main_accent;
  top: -30px;
  transform: rotate(-1deg);

  .CTAtext {
    font-size: 20px;
    line-height: 80px;
    text-decoration: none;
    color: $zwartKdg;
    display: flex;
    justify-content: center;
  }

  @mixin phone {
    display: none;
  }
}
