main{
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 230px;
}

body{
  font-family: 'proximanova';
}

.valencia {
    -webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
    filter: sepia(0.15) saturate(1.5) contrast(0.9);
}
