#menu-custom-projontw-menu{
width: 80%;
background-color: black;
position: fixed;
top: 0;
right: 0;
margin: 0;
padding: 0;
}

.menu{

  height: 80px;
  line-height: 80px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
  display: flex;
}
.menu-item {
  color: white;
  font-family: KdG;
  font-size: 35px;
}

.menu-item a{
  text-decoration: none;
  color: white;

}

#menu-item-29{
  background-image: url('../img/KdG_icon-functioneel-vrouw.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px; /* Adjust according to image size to push text across. */
}

/*
#vormgeving {
  width: 110%;
  height: 100px;
  background-color: black;
  transform: rotate(-2deg);
  z-index: 900;
  position: fixed;
  top: 20px;
  left: -10px;
  -webkit-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
}
#vormgeving2 {
  position: fixed;
  width: 100px;
  height: 1000px;
  background-color: black;
  right: -80px;
  top: 0;
  transform: rotate(-4deg);
}
*/

.current-menu-item a{
  color: #34bedc;
}
