.menu {
  width: 80%;
  position: fixed;
  top: 0;
  right: 60px;
  margin: 5px 0 0 0;
  padding: 0;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
  display: flex;
  height: 80px;
  line-height: 80px;

  li:last-child {
    &:before {
      font-family: "iconfont";
      content: "i";
    }
  }
}

/* Ik denk dat het beter is om te werken met last child. (zoals hierboven)
   Stel dat Lorenz zegt dat hij geen showcase pagina meer wilt?
   (Dan werkt deze code niet meer he)
*/
li:nth-of-type(7) a {
  font-size: 20px;
  margin-top: 5px;
}

.menu-item {
  color: white;
  font-family: "KdG";
  font-size: 35px;

  a {
    text-decoration: none;
    color: white;
  }
}

.current-menu-item {
  &,
  a {
    color: $main_accent;
  }
}

#logonaam a {
  display: flex;
  flex-wrap: nowrap;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  margin: 40px;
}
#logonaam img {
  height: 70px;
}
#logonaam h1 {
  font-family: "KdG";
  color: white;
}
#vormgeving {
  width: 110%;
  height: 200px;
  background-color: black;
  transform: rotate(-2deg);
  position: fixed;
  top: -100px;
  left: -10px;
  -webkit-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
}
#vormgeving2 {
  position: fixed;
  width: 100px;
  height: 1000px;
  background-color: black;
  right: -80px;
  top: 0;
  transform: rotate(-4deg);
}

/*
  Wat is menu-item-29?
  Dit kan voor problemen zorgen.
  Bij mij is dit de "Nieuws" link in de navigatie, maar is dat ook zo bij jou?
*/
#menu-item-29 a:before {
  content: "";
  display: block;
  background: url("img/logowit.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

@mixin pcbig {
  .menu-item {
    font-size: 25px;
  }
  .menu {
    width: 75%;
  }
}

@mixin pcmed {
  .menu-item {
    font-size: 22px;
  }
  .menu {
    width: 70%;
  }
  #logonaam a {
    width: 20%;
    margin: 20px;
  }
  #logonaam img {
    height: 50px;
    margin: 15px 5px;
  }
}

@mixin tablet {
}
