nav{
  position: relative;
  z-index: 5000;
}

.burgerbtn{
  display: none;
}

.zichtbaarheid{
  display:block;
}

.menu {
  width: 78%;
  position: fixed;
  top: 20px;
  right: 15px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
  display: flex;
  height: 80px;
  line-height: 80px;

  li:last-child {
    content: "i";
    font-family: "iconfont";
    font-size: 28px;
    }
    &:hover{
      color: #34bedc;
    }
  }





#logonaam:hover h1{
  transform: scale(1.1);
  transition: 0.5s linear;
}
.menu-item {
  color: $wit;
  font-family: "KdG";
  font-size: 23px;
  width: 14.33%;
  text-align: center;


  a {
    text-decoration: none;
    color: $wit;
    display: block;
    padding: 0 2%;
  }
}

.menu-item:first-of-type a{
  padding-left: 15px;
}

.menu-item:last-of-type{
  width: 6%;
}

.menu-item:nth-of-type(2), .menu-item:nth-of-type(3), .menu-item:nth-of-type(4){
  width: 17%;
}

.menu-item:hover a{
  color: #34bedc;
}

.current-menu-item {
  &,
  a {
    color: $main_accent;
  }
}

#logonaam a {
  display: flex;
  flex-wrap: nowrap;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
  margin: 9px 40px;
}
#logonaam img {
  height: 70px;
  margin-top: 15px;
}
#logonaam h1 {
  font-family: "KdG";
  color: $wit;
}
#vormgeving {
  width: 110%;
  height: 200px;
  background-color: $zwartKdg;
  transform: rotate(-2deg);
  position: fixed;
  top: -80px;
  left: -10px;
  -webkit-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 19px -4px rgba(0, 0, 0, 0.75);
}
#vormgeving2 {
  position: fixed;
  width: 100px;
  height: 1000px;
  background-color: $zwartKdg;
  right: -80px;
  top: 0;
  transform: rotate(-4deg);
}

.introbtn {
  width: 200px;
  text-decoration: none;
  background-color: $zwartKdg;
  color: $wit;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 22px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.introbtn:hover {
  color: #34bedc;
}

.page-banner>img{
  max-height: 500px;
  object-fit: cover;
}


@mixin pcbig {
  .menu-item{
    font-size: 23px;
  }

  .menu{
    width: 75%;
  }
}

@mixin pcmed {
  .menu-item {
    font-size: 22px;
  }
}

@mixin tablet {
  .burgerbtn{
    display: block;
  }

  #vormgeving2{
    display: none;
  }

  .menu{
    background-color: $zwartKdg;
    width: 100%;
    margin: 0 ;
    padding: 0 80px;
    left: 0;
    top: 89px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    li:last-child {
      font-size: 26px;
      font-family: "KdG";

      margin: 0;
      &:before{
        font-size: 26px;
      }
    }
  }
  .menu-item{
    width: 100%;
    line-height: 60px;
    font-size: 26px;
    text-align: left;
    padding: 0;
  }
  .menu li:last-child:before{
    width: 100%;
  }

  .burgerbtn{
    display: block;
    width: 60px;
    height: 60px;
    z-index: 2000;
    position: fixed;
    right: 0;
    top: 30px;
  }

  .burgerbtn img{
    width: 50px;
    height: 30px;
  }

  .zichtbaarheid{
    display:none;
  }
  .introbtn {
    display: none;
  }
  .menu-item:last-of-type{
    width: 100%;
  }
  .menu-item>a, .menu li:last-child {
      padding: 0;
      margin: 0;
    }
    .menu-item:first-of-type a{
      padding-left: 0px;
    }

    .menu-item:nth-of-type(2), .menu-item:nth-of-type(3), .menu-item:nth-of-type(4){
      width:100%;
    }
  }
