body {
    &.login-action-register {
    /*background-image: url("img/fablab_reg_form.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.login, .registeren {
    background-color: #000;
    background-image: url("img/icon-man.png");
    background-repeat: no-repeat;
    background-size: 350px 600px;
    background-position: center bottom; 
    
    #nav, #backtoblog {
        padding: 0px;
    }

    #login {
        background-color: #fff;
        float: right;
        height: 100%;
        margin: 0;
        min-height: 100%;
        padding: 8%;
        width: 15%;

    h1 a {
        background: none;
        background-image: url("img/lorenz.png");
      /*
        to change logo above the form:

          1. set background to none and default display for a-tag
            -> site title gets displayed (takes the title from admin)

          2. set different background
      */
    }

    .message {
        display: none;
    }

    #registerform {
        
        #user_name_fields {
            display: flex;
      }

      #reg_first_name_label,
      #reg_last_name_label {
          display: inline-block;
          margin-right: 5px;
      }
    }

    #loginform,
    #registerform,
    #lostpasswordform {
        
    padding: 0;
    box-shadow: none;
        
    p label {
        color: black;
    }

    input {
        border: 1px solid;
        padding: 2px;
        box-shadow: 1px 1px;
      }

    #wp-submit {
        background-color: $main_accent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        text-shadow: none;
        width: 100%;
        margin-top: 15px;
        font-size: 20px;

        &:hover {
            color: #000000;
        }
      }
    }

    #nav a {
        font-weight: bold;
    }

    #backtoblog a {
        font-size: 20px;
    }
  }
}

@mixin tablet {
    .login {
        background-size: 350px 600px;
        background-position: left bottom; 
        
        #login {
            width: 30%;
        }
    }
}

@mixin phone {
    .login {
        background: none;
        padding-left: 5px;
        
        #login {
            width: 90%;
            margin-left: 15px;
        }
    }
}
