.pagination{
margin-top: 50px;
}
.page-numbers {
  background-color: $zwartKdg;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.current{
  background-color: $main_accent;
}

.page-numbers:hover{
  background-color: $main_accent;
  transition: 0.3s;
}
