#profielMain {
  width: 75%;

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .menu-item {
      float: left;
      margin-right: 15px;
      background-color: $main_accent;
      width: 20%;


      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: $zwartKdg;
          transition: 1s;


            > img {
                filter: brightness(0) invert(0);
                transition:  1s;
            }
        }
      }

      img {
        filter: brightness(0) invert(1);
        margin-right: 10px;
        transition:  0.3s;
      }
    }
  }
}

.content-profile {
  & > h1 {
    & > span {
      font-family: "iconfont";
    }
  }

  h3 {
    font-family: "KdG", "proximanova", sans-serif;
  }

  p,
  h3 {
    margin: 0;
  }

  p {
    line-height: 1.8;
  }

  section {
    > div {
      margin: 20px 0;
    }

    margin-bottom: 35px;
  }

  #user-info {
    margin-top: 48px;
  }
}

.profile-value-label {
  display: block;
  line-height: 1.26;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin pcbig {
  #profielMain .menu .menu-item {
    width: 23%;
  }
}

@mixin pcmed {
  #profielMain .menu .menu-item {
    width: 40%;
    margin-bottom: 10px;
  }
}

@mixin tablet {
  #profielMain .menu .menu-item {
    float: none;

    width: 100%;
    margin-right: 0;
  }

  #user-info {
    .disp-f {
      display: block;
    }
  }

  .extra {
    margin-top: 17px;
  }
}

@mixin phone {
  #profielMain {
    min-height: 620px;
  }

  #profielMain .menu-item {
    width: 85%;
    margin-bottom: 15px;
  }
}

#profile-meta-data {
  > div:last-of-type {
    margin-bottom: 20px;
  }
}
