#reserverenMain {
  width: 85%;
}

/* PROGRESS BAR */
.progressbar-container {
  width: 100%;
  margin-bottom: 50px;

  @mixin phone {
    display: none;
  }

  > .progressbar {
    counter-reset: step;
    padding: 0;
    color: $zwartKdg;

    li {
      list-style-type: none;
      position: relative;
      text-align: center;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
      }

      &:first-child {
        &:after {
          content: none;
        }

        &:nth-last-child(3) {
          &,
          ~ li {
            width: 33.33%;
          }
        }

        &:nth-last-child(4) {
          &,
          ~ li {
            width: 25%;
          }
        }
      }

      &.progressbar-active {
        &:before {
          color: $wit;
          border-color: $main_accent;
          background-color: $main_accent;
        }

        + li:after {
          background-color: $main_accent;
        }
      }
    }
  }
}

#reservation-form {
  width: 70%;
  margin: 0 auto;

  div.col-2-of-2 {
    > div + .col-1-of-2 {
      margin-left: 2%;
    }
  }

  div.col-4-of-4 {
    .col-1-of-4 {
      > h3 {
        margin-top: 0;
      }
    }

    > div + .col-1-of-4 {
      margin-left: 2%;

      @mixin tablet {
        margin-left: 0;
      }
    }
  }

  > div.input-group {
    &:nth-child(2) {
      margin-bottom: $med;
    }
  }
  /*
  @mixin tablet {
    > div.disp-f {
      flex-wrap: nowrap;
    }
  }*/

  @mixin tablet {
    margin: 0;
    width: 100%;

    div.disp-f {
      flex-wrap: wrap;
    }

    div.col-2-of-2 {
      > div {
        width: 100%;

        &:first-child {
          margin-bottom: 10px;
        }
      }

      > div + .col-1-of-2 {
        margin-left: 0;
      }
    }

    div.col-4-of-4 {
      > .col-1-of-4 {
        width: 100%;
      }

      &[role="buttons"] {
        margin-top: $med;

        & > .col-1-of-4 {
          &:nth-child(2) {
            margin-top: $med;
          }
        }
      }
    }
  }
}

.time-slots-container {
  margin-bottom: 25px;

  > div[role="time-slots"].disp-f {
    flex-wrap: wrap;
  }
}

.time-slot {
  border: 1px solid $grey;
  padding: 10px;
  width: 150px;
  box-sizing: border-box;

  label {
    display: inline-block;
    color: white;
    width: 100%;
  }

  .labelReserveren {
    background-color: $zwartKdg;
    padding: 15px;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .labelReserveren:hover {
    background-color: $main_accent;
  }

  input:checked {
    color: red;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .labelReserveren {
    background-color: $main_accent;
  }

  @mixin phone {
    width: 50%;
  }
}

.message {
  margin: 10px 0 10px 0;
}
