#reserverenMain {
  width: 85%;
}

#reservation-form {
    width: 40%;
}

.btn-blue:hover {
    color: $zwartKdg;
}

.btn-dark {
    width: 90%;
}

.btn-blue {
    width: 90%;
    margin-left: 10%;
}

