.content-show {
  width: 85%;
}

.crt-widget-grid.crt-grid-col1 .crt-grid-post{
     padding: 0px 0px 20px 0px;
}

.crt-widget-grid.crt-grid-col2  .crt-grid-post{
    padding: 0px 20px 20px 0px;
    width: 100%
    /*border: 15px $wit;*/
}

.crt-widget-grid.crt-grid-col3 .crt-grid-post{
      padding: 0px 20px 20px 0px;
    /*border: 15px $wit;*/
}

.crt-widget-grid.crt-grid-col4 .crt-grid-post{
      padding: 0px 20px 20px 0px;
    /*border: 15px $wit;*/
}

.href_Showcase{
  color: $main_accent;
  text-decoration: none;
}

.crt-feed-window {
  margin-left: 15%;
  height: auto;
}

.crt-grid-post {
  .crt-social-icon i {
    opacity: 0;
  }
}

@mixin pcXXL {
  .crt-widget div {
    box-sizing: content-box !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1428px) {
  .crt-feed-window {
    margin-left: 10%;
  }
    
  .crt-widget div {
    box-sizing: border-box !important;
  }
    
  .crt-widget div {
    width: 95%;
  }
}


@mixin pcXL {
    
}

.crt-grid-post .crt-social-icon {
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
  }
    
  &:before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    margin-left: -2px;
  }

  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
  }
}