/*
.sidebar {
    border: 2px solid $main_accent;

    
    & > div, ul {
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .menu-item {
            box-sizing: border-box;
            flex-grow: 1;
            border-bottom: 2px solid $main_accent;
            width: 100%;

            &:last-child {
                border-bottom: none;
            }

            a {
                color: $main_accent;
                display: block;
                text-decoration: none;
            }
        }
    }
}
*/

.widgettitle {
    display: none;
}

.sidebar {
    margin-top: 460px;
    position: absolute;
}

#menu-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#profielMain .menu-item {
    float: left;
    margin-right: 15px;
    background-color: $main_accent;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover {
    color: $zwartKdg;
}
