.sidebar {
  border: 2px solid $main_accent;
  box-sizing: border-box;

  & > div,
  ul {
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .menu-item {
      box-sizing: border-box;
      flex-grow: 1;
      border-bottom: 2px solid $main_accent;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $main_accent;
        display: block;
        text-decoration: none;
      }
    }
  }
}
