.detail{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.detail .thumbnail{
  width: 50%;
  height: auto;
}

.introMachine{
  display: flex;
  position: relative;
  width: 100%;
}

.introMachine>.flexdiv{
   width: 50%;
   position: relative;
}

.introMachine>.flexdiv>.title{
   width: 100%;
   position: absolute;
   bottom: 0;
}

.detail .content{
  font-size: 16px;
  width: 100%;
}

.detail>.content>div{
  width: 100%;
}

.detailBtn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.detailBtn>.btn{
  background-color: #34bedc;
  color: black;
}

.detailBtn>.btn:hover{
  color: white;
}


@mixin pcXL{

  .detail{
    width: 80%;
  }
  .detailBtn>.btn{
    width: 49%;
  }

  .detailBtn>.btn:nth-of-type(even){
    margin-left: 2%;
  }
}

@mixin tablet{
  .introMachine{
    flex-wrap: wrap;
  }

  .detail .thumbnail{
    width: 70%;
    margin-left: 15%;
  }

  .introMachine>.flexdiv{
     width: 100%;
  }

  .introMachine>.flexdiv>.title{
     position: relative;
  }
}

@mixin phone{
  .detailBtn{
    flex-wrap: wrap;
  }

  .detailBtn>.btn{
    width: 100%;
  }

  .detailBtn>.btn:nth-of-type(even){
    margin-left: 0%;
  }
}
