.detail{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.detailBtn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.detailBtn>.btn{
  background-color: #34bedc;
  color: white;
}

.detailBtn>.btn:hover{
  color: $zwartKdg;
}

@mixin tablet{
  .opdeling>.detailBtn>.btn{
    margin-top: 0;
  }
}

@mixin phone{
  .detailBtn{
    flex-wrap: wrap;
  }

  .opdeling>.detailBtn>.btn:nth-of-type(even){
    margin-left: 0%;
  }
}
