#toestelImg{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

#mainToestellen{
  width: 85%;
  padding-bottom: 250px;
}

#mainToestellen article{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#mainToestellen section{
  width: 100%;
}

#mainToestellen .toestelContent{
  width: 48%;
  display: flex;
  margin-top: 50px;
}

#mainToestellen .toestelContent:nth-of-type(even){
  margin-left: 2%;
}

#mainToestellen .thumbnail{
  width: 45%;
}

#mainToestellen .content{
  width: 55%;
}

#mainToestellen h1{
  margin: 0;
}

@mixin pcXL{

  #mainToestellen  .toestelContent{
    flex-wrap: wrap;
  }

  #mainToestellen .thumbnail{
    width: 100%;
  }

  #mainToestellen .content{
    width: 100%;
  }

  #mainToestellen .excerpt{
    min-height: auto;
  }
}

@mixin tablet{
  #mainToestellen .toestelContent{
    width: 100%;
  }

  #mainToestellen .thumbnail{
    width: 48%;
  }

  #mainToestellen .content{
    width: 50%;
    margin-left: 2%;
  }

  #mainToestellen .excerpt{
    min-height: 210px;
  }
}

@mixin phone{
  #mainToestellen .thumbnail{
    width: 100%;
  }

  #mainToestellen .content{
    width: 100%;
    margin-left: 0%;
  }

  #mainToestellen .excerpt{
    min-height: auto;
  }
}
