#toestelImg {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

#mainToestellen {
  width: 85%;
  padding-bottom: 250px;
}

#mainToestellen article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#mainToestellen section {
  width: 100%;
}

#mainToestellen .toestelContent {
  width: 47%;
  display: flex;
  margin-top: 80px;
}

#mainToestellen .toestelContent:nth-of-type(even) {
  margin-left: 6%;
}

#mainToestellen .thumbnail {
  width: 45%;
}

#mainToestellen .content {
  width: 55%;
}

#mainToestellen h1 {
  margin: 0;
}

@mixin pcXL {
  #mainToestellen .toestelContent {
    flex-wrap: wrap;
  }

  #mainToestellen .thumbnail {
    width: 100%;
  }

  #mainToestellen .content {
    width: 100%;
  }

  #mainToestellen .excerpt {
    min-height: 120px;
  }
}

@mixin tablet {
  #mainToestellen .toestelContent {
    width: 100%;
  }

  #mainToestellen .thumbnail {
    width: 48%;
  }

  #mainToestellen .content {
    width: 48%;
    margin-left: 4%;
  }

  #mainToestellen .excerpt {
    min-height: 210px;
  }

  #mainToestellen .title {
    margin-top: 0%;
    padding-top: 0;
  }

  #mainToestellen .toestelContent:nth-of-type(even) {
    margin-left: 0%;
  }

  /*#mainToestellen .buttons{
    position: relative;

  }

  #mainToestellen .btn{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }

  #mainToestellen .btn:nth-of-type(even){
    right: 0;
  }*/
}

@mixin phone {
  #mainToestellen .thumbnail {
    width: 100%;
  }

  #mainToestellen .content {
    width: 100%;
    margin-left: 0%;
  }

  #mainToestellen .excerpt {
    min-height: auto;
  }

  #mainToestellen .title {
padding-top: 20px;
  }

  /*#mainToestellen .buttons{
    position: relative;
  }

  #mainToestellen .btn{
    position: relative;
  }*/
}
