/*
  To define different values for each screensize,
  add following rules to CSS:

  @mixin "name mixin" {
    CSS code...
  }

  -> e.g.
  @mixin phone {
    .p-top-sm { padding-top: 5px; }
    .p-bottom-sm { padding-bottom: 5px; }
  }

  @mixin tablet {
    .p-top-med { padding-top: 10px; }
    .p-bottom-med { padding-bottom: 10px; }
  }

  @mixin pc {
    .p-top-lg { padding-top: 15px; }
    .p-bottom-lg { padding-bottom: 15px; }
  }
*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "proximanova", sans-serif !important;
}

h1 {
  font-family: "KdG", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

h2 {
  color: #34bedc;
  font-weight: normal;
  font-size: 1.4em;
}

h3 {
  font-weight: normal;
  font-size: 22px;
}

main {
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 230px;
}

.img-thumb{
  overflow: hidden;
    img:hover{
      transform: scale(1.1);
      transition: 1s;
    }
}



@define-mixin phone-small /* of een andere naam */ {
  @media (max-width: 420px) {
    @mixin-content;
  }
}

@define-mixin phone /* of een andere naam */ {
  @media (max-width: 700px) {
    @mixin-content;
  }
}

@define-mixin tablet /* of een andere naam */ {
  @media (max-width: 960px) {
    @mixin-content;
  }
}

@define-mixin pc /* of een andere naam */ {
  @media (max-width: 1050px) {
    @mixin-content;
  }
}

@define-mixin pcmed /* of een andere naam */ {
  @media (max-width: 1100px) {
    @mixin-content;
  }
}

@define-mixin pcbig /* of een andere naam */ {
  @media (max-width: 1300px) {
    @mixin-content;
  }
}

@define-mixin pcXL /* of een andere naam */ {
  @media (max-width: 1350px) {
    @mixin-content;
  }
}

@define-mixin pcXXL /* of een andere naam */ {
  @media (max-width: 1600px) {
    @mixin-content;
  }
}
