@font-face {
  font-family: "KdG";
  src: url("fonts/KdG-Regular.woff") format("woff"),
    url("fonts/KdG-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("fonts/iconfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "proximanova";
  src: url("fonts/proxima-nova-w8.woff") format("woff"),
    url("fonts/proxima-nova-w8.ttf") format("truetype");
  font-weight: normal;
}
