/*
  add css classes which can be used frequently:

  -> e.g.
    .no-margin { margin: 0; }
    .container { ... }
    .t-left { text-align: left; }
    .t-right { text-align: right; }
    ...
*/

.disp-b {
  display: block;
}

.disp-n {
  display: none;
}
