/*
  add css classes which can be used frequently:

  -> e.g.
    .no-margin { margin: 0; }
    .container { ... }
    .t-left { text-align: left; }
    .t-right { text-align: right; }
    ...
*/

.disp {
  &-b {
    display: block;
  }

  &-f {
    display: flex;
  }

  &-n {
    display: none;
  }
}

.m {
  &-0 {
    margin: $none;
  }

  &-sm {
    margin: $small;
  }

  &-med {
    margin: $med;
  }

  &-lg {
    margin: $lg;
  }
}

.mt {
  &-0 {
    margin-top: $none;
  }

  &-sm {
    margin-top: $small;
  }

  &-med {
    margin-top: $med;
  }

  &-lg {
    margin-top: $lg;
  }
}

.mb {
  &-0 {
    margin-bottom: $none;
  }

  &-sm {
    margin-bottom: $small;
  }

  &-med {
    margin-bottom: $med;
  }

  &-lg {
    margin-bottom: $lg;
  }
}

.mr {
  &-0 {
    margin-right: $none;
  }

  &-sm {
    margin-right: $small;
  }

  &-med {
    margin-right: $med;
  }

  &-lg {
    margin-right: $lg;
  }
}

.ml {
  &-0 {
    margin-left: $none;
  }

  &-sm {
    margin-left: $small;
  }

  &-med {
    margin-left: $med;
  }

  &-lg {
    margin-left: $lg;
  }
}

.p {
  &-abs {
    position: absolute;
  }

  &-rel {
    position: relative;
  }
}

.col {
  &-1-of-2 {
    width: 50%;
  }

  &-2-of-2 {
    width: 100%;
  }
}

.fw {
  &-b {
    font-weight: bold;
  }
}

.attach-to-bottom {
  bottom: 0;
}

.valencia {
  -webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
  filter: sepia(0.15) saturate(1.5) contrast(0.9);
}
