/*
  define variables:
  $variable name: value
    -> e.g. $mainBtnColor: #000;
*/
$main_accent: #34bedc;
$zwartKdg: #1d1d1b;
$wit: #fff;
$smokewhite: #f5f5f5;
$grey: #ccc;
$rood: #ff0000;
$groen: #00ff00;
$donkerrood: #8b0000;
